.projects {
	padding: 128px 0px;
	background-color: var(--color-bg-1);
}

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-xl);
}

.project {
	flex: 1;
	min-width: 350px;
	min-height: 550px;
	position: relative;
	background-color: var(--color-bg-2);
	color: var(--color-text-2);
	border-radius: var(--radius-lg);
	box-shadow: var(--shadow-md);
	overflow: hidden;
}

@media (hover: hover) {
	.project:hover {
		box-shadow: var(--shadow-lg);
	}
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	padding: var(--space-xl);
}

.bgImg {
	z-index: 1;
	opacity: 0.2;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.projectTitle {
	font-size: var(--font-size-2md);
	font-weight: bold;
	margin-bottom: var(--space-md);
}

.description {
	margin-bottom: var(--space-lg);
	line-height: 1.6;
}

.technologies {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-sm);
	margin-bottom: var(--space-lg);
}

.tech {
	padding: var(--space-xs) var(--space-sm);
	background-color: var(--color-secondary);
	color: var(--color-black);
	border-radius: var(--radius-sm);
	font-size: 0.875rem;
	font-weight: 500;
}

.links {
	justify-self: flex-end;
	font-size: var(--font-size-sm);
	margin-top: var(--space-xl);
	display: flex;
	gap: var(--gap-md);
}
.link {
	position: relative;
	padding: var(--space-sm);
	transition: letter-spacing var(--transition-normal) 0.1s;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 10%;
		height: 1px;
		background: currentColor;
		transition: width var(--transition-normal);
	}
	&:focus-visible {
		letter-spacing: 2px;
	}
	&:focus-visible::before {
		width: 100%;
	}
}
@media (hover: hover) {
	.link:hover::before {
		width: 100%;
	}
	.link:hover {
		letter-spacing: 2px;
	}
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: 1fr;
	}
	.project {
		min-width: 200px;
		min-height: 600px;
	}

	.links {
		font-size: var(--font-size-sm);
		margin-top: var(--space-xl);
		display: flex;
		flex-direction: column;
		gap: var(--gap-md);
	}
}
