.hero {
	padding: 30px 0 130px 0;
	background: var(--color-bg-1);
}

.container {
	padding-top: 100px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 64px;
	color: var(--color-text-1);
}

.title {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	font-size: var(--font-size-3xl);
	font-weight: 700;
	text-align: center;
	color: rgba(var(--rgb-color-text-1), 0.03);
	margin-bottom: var(--space-lg);
	line-height: 1.2;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}
.contentLeftBlock,
.contentCenterBlock,
.contentRightBlock {
	flex: 1;
}

.contentLeftBlock {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.contentBadge {
	display: flex;
	align-items: center;
	gap: 4px;
	text-transform: uppercase;
	font-size: var(--font-size-xs);
	font-weight: bold;
	color: var(--color-secondary);
}
.badgeIcon {
	width: var(--font-size-xs);
	height: var(--font-size-xs);
	filter: drop-shadow(0px 0px 4px var(--color-secondary));
	animation: pulseBadge 1s linear infinite alternate;
}
.contentTitle {
	font-size: var(--font-size-xl);
	font-weight: bold;
}

.contentCenterBlock {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentRightBlock {
	font-size: var(--font-size-md);
}

.contentDescription {
	margin-bottom: var(--space-xl);
	line-height: 1.6;
}

.primaryButton {
	display: flex;
	align-items: center;
	justify-self: flex-start;
	gap: 10px;
	background-color: var(--color-bg-2);
	color: var(--color-text-2);
	padding: var(--space-md);
	padding-right: var(--space-lg);
	border-radius: 150px;
	font-size: var(--font-size-md);
	font-weight: 500;
	transition: var(--transition-normal) 0.1s;
}
.buttonIcon {
	border-radius: 50%;
	width: 42px;
	height: 42px;
	background-color: var(--color-bg-1);
	color: var(--color-text-1);
	transition: var(--transition-normal);
}

@media (hover: hover) {
	.primaryButton:hover .buttonIcon {
		transform: translateX(10px);
	}
	.primaryButton:hover {
		transform: translateX(5px);
		gap: 20px;
		letter-spacing: 0.8px;
	}
}
.primaryButton:focus-visible .buttonIcon {
	transform: translateX(10px);
}
.primaryButton:focus-visible {
	transform: translateX(5px);
	gap: 20px;
	letter-spacing: 0.8px;
}

.contentName {
	font-family: var(--font-title), serif;
	display: flex;
	justify-content: center;
	gap: 100px;
	align-items: center;
	font-size: var(--font-size-2xl);
}
.contentName > span {
	flex: 1;
}
.contentName > span:nth-child(1) {
	text-align: right;
}

@media (max-width: 1250px) {
	.content {
		display: flex;
		flex-direction: column;
	}
	.contentRightBlock {
		width: 70%;
	}
	.contentName {
		font-size: var(--font-size-xl);
		gap: 70px;
	}
}
@media (max-width: 768px) {
	.contentRightBlock {
		width: 100%;
	}
	.title {
		font-size: var(--font-size-xl);
	}
	.contentTitle {
		font-size: var(--font-size-lg);
	}
	.primaryButton {
		/* width: 100%; */
		justify-self: center;
	}
	.contentName {
		flex-direction: column;
		font-size: var(--font-size-lg);
		gap: 0;
	}
}

@keyframes pulseBadge {
	from {
		transform: scale(1);
		filter: drop-shadow(0px 0px 4px var(--color-secondary));
	}
	to {
		transform: scale(1.3);
		filter: drop-shadow(0px 0px 10px var(--color-secondary));
	}
}
