.socBar {
	display: flex;
}
.link {
	padding: var(--space-sm);
	color: var(--color-white);
	box-shadow: 0px 0px 10px transparent;
	border-radius: 50%;
	transition: color var(--transition-normal), transform var(--transition-normal),
		box-shadow var(--transition-normal);
}

@media (hover: hover) {
	.link:hover {
		color: rgba(var(--rgb-color-white), 0.75);
		transform: translateY(-5px);
		box-shadow: 0px 0px 10px var(--color-white),
			inset 0px 0px 10px var(--color-white);
	}
}
.link:focus-visible {
	color: rgba(var(--rgb-color-white), 0.75);
	transform: translateY(-5px);
	box-shadow: 0px 0px 10px var(--color-white),
		inset 0px 0px 10px var(--color-white);
}
