.progressBar {
	--fill: 80%;
	width: 100%;
	height: 8px;
	display: flex;
	overflow: hidden;
	border-radius: var(--radius-md);
	background-color: var(--color-text-1);
}
.progressBarFill {
	display: inline-block;
	width: var(--fill);
	height: 100%;
	background-color: var(--color-secondary);
}
