name: Deploy to VPS

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /root/portfolio

            echo "Cleaning up Docker system..."
            docker system prune -f
            docker volume prune -f

            echo "Setting execute permissions..."
            chmod +x deploy.sh
            ./deploy.sh
